footer.container 
    .row.mt-5
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a(href="/nosotros") Nosotros
                a(href="/viajes") Viajes
                a(href="/testimoniales") Testimoniales
        .col
            p.copyright.text-center.text-md-right Todos los derechos resevados
                span #{fecha}
