header 
    h1 Agencia de Viajes
    .navegacion 
        div.row.justify-content-center.justify-content-md-beetwen.align-items-center.py-4
            .container 
                .col-md-4.col-6
                    a(href="/")
                        img(src="/img/logo.svg", alt="sitio logo") 
                .col-md-8 
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end 
                        a(href="/nosotros") Nosotros
                        a(href="/viajes") Viajes
                        a(href="/testimoniales") Testimoniales